 {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        #taskInput {
            width: calc(100% - 80px); /* Sottrai il padding e il margine del pulsante */
            padding: 8px;
            box-sizing: border-box;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
        }
        #addButton {
            padding: 8px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        #addButton:hover {
            background-color: #45a049;
        }
        #taskList {
            list-style-type: none;
            padding: 0;
        }
        #taskList li {
            margin-bottom: 5px;
            background-color: #fff;
            padding: 8px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
