#menuservizio
{
	width: 100%; /* si adatta in larghezza a alle
					risoluzioni di tutti i browser */
	height: 150px;
	background-color: #0066FF;
}
#contenitore
{
	width: 820px;
	margin: 0; /* per azzerare */
	padding: 0; /* per azzerare */
	background: #000000;
}
#contenitore
{
	width: auto;
	height: auto;
	margin: auto;
	padding: 0;
	background-color: #000000;
}
#testata,
#contenuti,
#footer
{
	width: 820px;
	margin: 0;
}
#testata
{
	height: 203px;
	padding: 0;
}
#contenuti
{
	height: 203px;
	background-color: #FF99FF;
	padding: 0;
}
#footer {
	width: 820px;
	padding: 0;
	background-color: #808000;
}
